# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js build outputs
.next/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables (Critically important to ignore local secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git and IDEs
.git
.gitignore
.vscode/
.idea/

# Docker related
Dockerfile
.dockerignore
docker-compose.yml