# frontend/.gitignore

# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage

# next.js
.next/
out/

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# backend/.gitignore

# Python compilation files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (Crucial!)
.venv/
venv/
env/

# Database
*.sqlite3
*.db

# IDE settings
.vscode/
.idea/

# Testing
report.html

# Pytest cache
.pytest_cache

terraform/*.tfvars
.terraform/
.terraform.lock.hcl